table {
  background-color: khaki;
  width: 90%;
}
/*
Column width
Le nom est formé de .mat-column-<nom de la colonne de la table> (voir html)
*/
.mat-column-isbn {
  width: 120px;
}
.mat-column-format {
  width: 120px;
}
.mat-column-price {
  width: 80px;
}
.toolbar-filter {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 12px;
  width: 90%;
}
